<% if @analysis.present? %>
  <div class="container px-3" style="white-space: pre-wrap; color: white;">

    <!-- Titre du rêve -->
    <h1 class="mb-2 text-center"><%= @dream.title %></h1>

    <!-- Carte pour l'analyse -->
    <div class="dream-card mb-4">
      <h5>Analysis</h5>
      <p><%= @analysis.content %></p>
    </div>

    <!-- Carte pour la transcription -->
    <% if @transcription.content.present? %>
      <div class="dream-card mb-4">
        <h5>Transcription</h5>
        <p><%= @transcription.content %></p>
      </div>
    <% end %>

    <!-- Carte pour les résultats du formulaire -->
    <% if @transcription.dream_type.present? || @transcription.mood.present? || @transcription.tag.present? || @transcription.rating.present? %>
      <div class="dream-card mb-4">
        <h5>Additional Information</h5>

        <% if @transcription.dream_type.present? %>
          <p style="margin: 0; padding: 0;">
            <strong style="margin-left: 0; padding-left: 0;">Type of dream:</strong>
            <%= @transcription.dream_type == "dream" ? "🌙 Dream" : "😱 Nightmare" %>
          </p>
        <% end %>

        <% if @transcription.mood.present? %>
          <p style="margin: 0; padding: 0;">
            <strong style="margin-left: 0; padding-left: 0;">Mood:</strong>
            <%=
              case @transcription.mood
              when "happy" then "😀 Happy"
              when "sad" then "😢 Sad"
              when "anxious" then "😰 Anxious"
              when "calm" then "😌 Calm"
              when "excited" then "🤩 Excited"
              when "angry" then "😡 Angry"
              else @transcription.mood.capitalize
              end
            %>
          </p>
        <% end %>

        <% if @transcription.tag.present? %>
          <p style="margin: 0; padding: 0;"><strong style="margin-left: 0; padding-left: 0;">Keywords:</strong> <%= @transcription.tag %></p>
        <% end %>

        <% if @transcription.rating.present? %>
          <p style="margin: 0; padding: 0;"><strong style="margin-left: 0; padding-left: 0;">Rating:</strong> <%= @transcription.rating %> / 5</p>
        <% end %>

      </div>
    <% end %>

    <!-- Bouton de partage -->
    <!--
    <div class="text-center mt-5">
      <%= button_to "Share this dream", "#" , class: "btn btn-primary", disabled: true %>
    </div>
    -->
  </div>

<% else %>
  <p class="text-white text-center">No analysis found for this dream.</p>
<% end %>

<!-- Bouton d'édition -->
<div class="text-center my-4">
  <%= link_to "Edit dream", edit_dream_path(@dream), class: "gradient-button" %>
</div>


<!-- Navbar -->
<%= render "shared/bottom_nav" %>
