<h1>Transcription of your dream</h1>

<% if @transcription.present? %>
  <div>
    <h2><%= @dream.title %></h2>
    <p><%= @transcription.content %></p>
  </div>

  <div>
    <% if @transcription.analyses.any? %>
      <!-- Si une analyse existe déjà, lien vers l'affichage -->
      <%= link_to 'View Analysis', dream_analysis_path(@dream, @transcription.analyses.first), class: 'btn btn-success' %>
    <% else %>
      <!-- Si aucune analyse n'existe, bouton pour en créer une -->
      <%= button_to 'Generate Analysis', generate_analysis_path(@dream), method: :post, class: 'btn btn-warning' %>
    <% end %>

    <%= link_to 'Edit Transcription', edit_dream_transcription_path(@dream), class: 'btn btn-primary' %>
  </div>

<% else %>
  <p>No transcription found for this dream.</p>
<% end %>

<%= link_to 'Back to Dream', edit_dream_path(@dream), class: 'btn btn-default' %>
