<h1>Transcription of your dream</h1>

<% if @transcription.present? %>
  <div>
    <h2><%= @dream.title %></h2>
    <p><%= @transcription.content %></p>
  </div>

  <div>
    <% if @transcription.analysis %>  <!-- Vérifier s'il y a une analyse associée -->
      <%= link_to 'View Analysis', dream_analysis_path(@dream, @transcription.analysis), class: 'btn btn-success' %>
    <% else %>
      <%= button_to 'Generate Analysis', generate_dream_analyses_path(@dream), method: :post, class: 'btn btn-warning' %>
    <% end %>

    <%= link_to 'Edit Transcription', edit_dream_transcription_path(@dream), class: 'btn btn-primary' %>
  </div>

<% else %>
  <p>No transcription found for this dream.</p>
<% end %>

<%= link_to 'Back to Dream', edit_dream_path(@dream), class: 'btn btn-default' %>

<!-- Navbar -->
<%= render "shared/bottom_nav" %>
