<h1>Transcription of your dream</h1>

<% if @transcription.present? %>
  <div>
    <h2><%= @dream.title %></h2>
    <p><%= @transcription.content %></p>
  </div>

  <div>
    <!-- Lien vers la page des analyses -->
    <%= link_to 'View Analysis', analysis_path(@transcription.analysis), class: 'btn btn-success' if @transcription.analysis %>
    
    <% unless @transcription.analysis %>
      <!-- Si aucune analyse n'existe, bouton pour en créer une -->
      <%= button_to 'Generate Analysis', generate_analyses_path(dream_id: @dream.id), method: :post, class: 'btn btn-warning' %>
    <% end %>
  </div>

  <%= link_to 'Edit Transcription', edit_dream_transcription_path(@dream), class: 'btn btn-primary' %>
<% else %>
  <p>No transcription found for this dream.</p>
<% end %>

<%= link_to 'Back to Dream', edit_dream_path(@dream), class: 'btn btn-default' %>

<!-- Navbar -->
<%= render "shared/bottom_nav" %>
