<h1 class="mb-4">Transcription of your dream</h1>

<% if @transcription.present? %>
  <div class="container my-5">
    <h2><%= @dream.title %></h2>
    <p><%= @transcription.content %></p>
  </div>

  <div>
    <% if @transcription.analysis %>  <!-- Vérifier s'il y a une analyse associée -->
      <%= link_to 'Analysis', dream_analysis_path(@dream, @transcription.analysis), class: 'gradient-button'  %>
    <% else %>
      <%= button_to 'Generate Analysis', generate_dream_analyses_path(@dream), method: :post, class: 'gradient-button'  %>
    <% end %>

    <%= link_to 'Edit Transcription', edit_dream_transcription_path(@dream), class: 'gradient-button'  %>
  </div>

<% else %>
  <p>No transcription found for this dream.</p>
<% end %>

<!-- Navbar -->
<%= render "shared/bottom_nav" %>
