<h1 class="mb-4">Transcription of your dream</h1>

<% if @transcription.present? %>
  <div>
    <h2><%= @dream.title %></h2>
    <p style="white-space: pre-wrap;"><%= @transcription.content %></p>
  </div>

  <div class="d-flex flex-wrap gap-3 mt-4">
    <% if @transcription.analysis %>
      <%= link_to 'View Analysis', dream_analysis_path(@dream, @transcription.analysis), class: 'gradient-button' %>
    <% else %>
      <%= button_to 'Generate Analysis', generate_dream_analyses_path(@dream), method: :post, class: 'gradient-button' %>
    <% end %>

    <%= link_to 'Edit Transcription', edit_dream_transcription_path(@dream), class: 'gradient-button' %>
  </div>
<% else %>
  <p>No transcription found for this dream.</p>
<% end %>

<!-- Navbar -->
<%= render "shared/bottom_nav" %>
