<h1>Transcription of your dream</h1>

<% if @transcription.present? %>
  <div>
    <h2><%= @dream.title %></h2>
    <p><%= @transcription.content %></p>
  </div>

  <div>
    <!-- Lien vers la page d'analyse -->
    <%= link_to 'Go to Analysis', dream_analyses_path(@dream), class: 'btn btn-success' %>

    <%= link_to 'Edit Transcription', edit_dream_transcription_path(@dream), class: 'btn btn-primary' %>
  </div>

<% else %>
  <p>No transcription found for this dream.</p>
<% end %>

<%= link_to 'Back to Dream', edit_dream_path(@dream), class: 'btn btn-default' %>
