<!DOCTYPE html>
<html>
  <head>
    <title>Dreamlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <% if user_signed_in? %>
        <%= link_to "Accueil", root_path %> |
        <%= link_to "Mes rêves", mydreams_path %> |
        <%= link_to "Tous les rêves", dreams_path %> |
        <%= link_to "Déconnexion", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Accueil", root_path %> |
        <%= link_to "Connexion", new_user_session_path %> |
        <%= link_to "Inscription", new_user_registration_path %>
      <% end %>
    </nav>

    <%= yield %>
</body>

  </body>
</html>
